var dateSubstring = function (val) { //截取后台返回的时间字段
  if (val.length == 0 || val == undefined) {
    return;
  }
  return val.substring(0, 10);
}

var dateMSSubstring = function (val) { //截取后台返回的时间字段 返回时 分
  if (val.length == 0 || val == undefined) {
    return;
  }
  return val.substring(11, 16);
}

var toFixedTwo = function (val) { //截取小数点后两位
  if (val.length == 0 || val == undefined) {
    return;
  }
  return Number(val).toFixed(2);
}

module.exports = {
  dateSubstring:dateSubstring,
  dateMSSubstring: dateMSSubstring,
  toFixedTwo: toFixedTwo
}